<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <% if (products.length>0) { %>
            <div class="container">
                <% for( let i = 0; i < products.length; i++ ) { %>
                    <% let item;
                    for (let j = 0; j < prodFromFile.length; j++) {
                        if(prodFromFile[j].id == products[i].prod_id){
                            item = prodFromFile[j];
                            break;
                        }
                    }
                    %>
                    <div class="item-details-wrapper">
                        <div class="productImage"><img src="<%= item.imageUrl %>" alt="random"></div>
                        <div class="productDetailsHolder">
                            <div class="prodTitle"><%= item.title %></div>
                            <div class="prodDesc"><%= item.description %></div>
                            <div class="moreDetailWrapper">
                                <div class="prodQty">Quantity: <%= products[i].qty %></div>
                                <div class="price">Price: <%= item.price %> $</div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        <% }else{ %>
            <h2>No product in db</h2>
        <%} %>
        <%- include('../includes/end.ejs') %>